* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html{
    overflow: hidden;
    position: relative;
    height: 120%;
}

.section {
    font-family: 'Inter', sans-serif;
    position: relative;
    padding: 32px 26px 0;
    transition: height .7s ease-out;

    &--top {
        height: 65vh;
        color: white;
        background-size: cover;
    }

    &--btm{
        padding: 48px 26px;
        background-color: hsla(0,0%,100%,.75);
        backdrop-filter: blur(40.7742px);
    }
}

.quote-wrapper{
    transform: translateY(-200%);
    transition: transform 1s ease;
}

.quote-wrapper-active{
    transform: translateY(0);
}

.quote{
    font-size: 12px;
}

.author{
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
}

.card {
    position: absolute;
    bottom: 40px;
    &__header {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__time {
        font-weight: 700;
        font-size: 85px;
    }

    &__time-zone {
        font-weight: 400;
        font-size: 15px;
    }

    &__location {
        font-weight: 700;
        margin-bottom: 46px;
        text-transform: uppercase;
    }
}

.btn{
    border-radius: 28px;
    width: 115px;
    height: 40px;
    padding-right: 3px;

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    &__text{
        letter-spacing: 3px;
    }
}

.section-expand{
    height: 100vh;
}

.arrow-up{
    width: 32px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-title{
        font-size: 10px;
        color: #303030;
        letter-spacing: 2px;
    }

    &-sub{
        font-size: 20px;
    }
}

.arrow-down{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.not-active{
    display: none;
}